In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [22]:
#Now we'll learn DataFrames

#Let's get some data to play with. How about the NFL?
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [25]:
#Copy and read to get data - Remeber to go to the website and copyu the data
nfl_frame = pd.read_clipboard()

In [26]:
#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,462",818,606,38,0.573,1921,NFC North
1,2,Dallas Cowboys,"1,011",573,432,6,0.570,1960,NFC East
2,3,New England Patriots,"1,008",566,433,9,0.566,1960,AFC East
3,4,Baltimore Ravens,444,249,194,1,0.562,1996,AFC North
4,5,Chicago Bears,"1,472",800,630,42,0.558,1920,NFC North
5,6,Miami Dolphins,906,496,406,4,0.550,1966,AFC East
6,7,Pittsburgh Steelers,"1,300",688,590,22,0.538,1933,AFC North
7,8,Minnesota Vikings,986,524,451,11,0.537,1961,NFC North
8,9,Kansas City Chiefs,987,524,451,12,0.537,1960,AFC West
9,10,San Francisco 49ers,"1,123",595,514,14,0.536,1950,NFC West

In [27]:
# We can grab the oclumn names with .columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [28]:
#Lets see some specific data columns
DataFrame(nfl_frame,columns=['Team','First NFL season','GP'])

                   Team  First NFL season     GP
0     Green Bay Packers              1921  1,462
1        Dallas Cowboys              1960  1,011
2  New England Patriots              1960  1,008
3      Baltimore Ravens              1996    444
4         Chicago Bears              1920  1,472
5        Miami Dolphins              1966    906
6   Pittsburgh Steelers              1933  1,300
7     Minnesota Vikings              1961    986
8    Kansas City Chiefs              1960    987
9   San Francisco 49ers              1950  1,123

In [29]:
#What happens if we ask for a column that doesn't exist?
DataFrame(nfl_frame,columns=['Team','First NFL season','GP','Stadium'])

                   Team  First NFL season     GP  Stadium
0     Green Bay Packers              1921  1,462      NaN
1        Dallas Cowboys              1960  1,011      NaN
2  New England Patriots              1960  1,008      NaN
3      Baltimore Ravens              1996    444      NaN
4         Chicago Bears              1920  1,472      NaN
5        Miami Dolphins              1966    906      NaN
6   Pittsburgh Steelers              1933  1,300      NaN
7     Minnesota Vikings              1961    986      NaN
8    Kansas City Chiefs              1960    987      NaN
9   San Francisco 49ers              1950  1,123      NaN

In [30]:
# Call columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [31]:
#We can retrieve individual columns
nfl_frame.Team

0       Green Bay Packers
1          Dallas Cowboys
2    New England Patriots
3        Baltimore Ravens
4           Chicago Bears
5          Miami Dolphins
6     Pittsburgh Steelers
7       Minnesota Vikings
8      Kansas City Chiefs
9     San Francisco 49ers
Name: Team, dtype: object

In [32]:
# Or try this method for multiple word columns
nfl_frame['GP']

0    1,462
1    1,011
2    1,008
3      444
4    1,472
5      906
6    1,300
7      986
8      987
9    1,123
Name: GP, dtype: object

In [35]:
#We can retrieve rows through indexing -  User index 4 (Retreive the 4
nfl_frame.loc[4]

Rank                            5
Team                Chicago Bears
GP                          1,472
Won                           800
Lost                          630
Tied                           42
Pct.                        0.558
First NFL season             1920
Division                NFC North
Name: 4, dtype: object

In [37]:
#We can also assign value sto entire columns
nfl_frame['Stadium']="Levi's Stadium" #Careful with the ' here

In [38]:
#Show 
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,462",818,606,38,0.573,1921,NFC North,Levi's Stadium
1,2,Dallas Cowboys,"1,011",573,432,6,0.570,1960,NFC East,Levi's Stadium
2,3,New England Patriots,"1,008",566,433,9,0.566,1960,AFC East,Levi's Stadium
3,4,Baltimore Ravens,444,249,194,1,0.562,1996,AFC North,Levi's Stadium
4,5,Chicago Bears,"1,472",800,630,42,0.558,1920,NFC North,Levi's Stadium
5,6,Miami Dolphins,906,496,406,4,0.550,1966,AFC East,Levi's Stadium
6,7,Pittsburgh Steelers,"1,300",688,590,22,0.538,1933,AFC North,Levi's Stadium
7,8,Minnesota Vikings,986,524,451,11,0.537,1961,NFC North,Levi's Stadium
8,9,Kansas City Chiefs,987,524,451,12,0.537,1960,AFC West,Levi's Stadium
9,10,San Francisco 49ers,"1,123",595,514,14,0.536,1950,NFC West,Levi's Stadium

In [40]:
#Putting numbers for stadiums
nfl_frame["Stadium"] = np.arange(10)

#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,462",818,606,38,0.573,1921,NFC North,0
1,2,Dallas Cowboys,"1,011",573,432,6,0.570,1960,NFC East,1
2,3,New England Patriots,"1,008",566,433,9,0.566,1960,AFC East,2
3,4,Baltimore Ravens,444,249,194,1,0.562,1996,AFC North,3
4,5,Chicago Bears,"1,472",800,630,42,0.558,1920,NFC North,4
5,6,Miami Dolphins,906,496,406,4,0.550,1966,AFC East,5
6,7,Pittsburgh Steelers,"1,300",688,590,22,0.538,1933,AFC North,6
7,8,Minnesota Vikings,986,524,451,11,0.537,1961,NFC North,7
8,9,Kansas City Chiefs,987,524,451,12,0.537,1960,AFC West,8
9,10,San Francisco 49ers,"1,123",595,514,14,0.536,1950,NFC West,9

In [41]:
# Call columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division', 'Stadium'],
      dtype='object')

In [42]:
#Adding a Series to a DataFrame
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [43]:
#Now input into the nfl DataFrame
nfl_frame['Stadium']=stadiums

#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,462",818,606,38,0.573,1921,NFC North,AT&T Stadium
1,2,Dallas Cowboys,"1,011",573,432,6,0.570,1960,NFC East,NaN
2,3,New England Patriots,"1,008",566,433,9,0.566,1960,AFC East,NaN
3,4,Baltimore Ravens,444,249,194,1,0.562,1996,AFC North,NaN
4,5,Chicago Bears,"1,472",800,630,42,0.558,1920,NFC North,Levi's Stadium
5,6,Miami Dolphins,906,496,406,4,0.550,1966,AFC East,NaN
6,7,Pittsburgh Steelers,"1,300",688,590,22,0.538,1933,AFC North,NaN
7,8,Minnesota Vikings,986,524,451,11,0.537,1961,NFC North,NaN
8,9,Kansas City Chiefs,987,524,451,12,0.537,1960,AFC West,NaN
9,10,San Francisco 49ers,"1,123",595,514,14,0.536,1950,NFC West,NaN

In [44]:
#We can also delete columns
del nfl_frame['Stadium']

nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,462",818,606,38,0.573,1921,NFC North
1,2,Dallas Cowboys,"1,011",573,432,6,0.570,1960,NFC East
2,3,New England Patriots,"1,008",566,433,9,0.566,1960,AFC East
3,4,Baltimore Ravens,444,249,194,1,0.562,1996,AFC North
4,5,Chicago Bears,"1,472",800,630,42,0.558,1920,NFC North
5,6,Miami Dolphins,906,496,406,4,0.550,1966,AFC East
6,7,Pittsburgh Steelers,"1,300",688,590,22,0.538,1933,AFC North
7,8,Minnesota Vikings,986,524,451,11,0.537,1961,NFC North
8,9,Kansas City Chiefs,987,524,451,12,0.537,1960,AFC West
9,10,San Francisco 49ers,"1,123",595,514,14,0.536,1950,NFC West

In [45]:
#DataFrames can be constructed many ways. Another way is from a dictionary of equal length lists
data = {'City':['SF','LA','NYC'],
        'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

#Show
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [47]:
#For full list of ways to create DataFrames from various sources go to teh documentation for pandas:
website = 'https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.html'
webbrowser.open(website)

True