In [1]:
#Pivoting

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# Lets create some data to play with:

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [4]:
#Show the "stacked" data, note how there are multiple variables and values for the dates
dframe

          date variable     value
0   2000-01-03        A  0.521145
1   2000-01-04        A -1.551432
2   2000-01-05        A  0.431908
3   2000-01-06        A  0.955810
4   2000-01-07        A -0.896040
..         ...      ...       ...
115 2000-02-07        D  0.173832
116 2000-02-08        D  0.226544
117 2000-02-09        D -1.191903
118 2000-02-10        D -0.087059
119 2000-02-11        D  1.105305

[120 rows x 3 columns]

In [5]:
# Now let's pivot the data

# First two value spassed are teh row and column indexes, then finally an optional fill value
dframe_piv = dframe.pivot('date','variable','value')

#Show
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.521145 -0.681665 -1.387143 -0.281686
2000-01-04 -1.551432  0.218140 -0.809367 -1.055884
2000-01-05  0.431908  2.035007  1.430414 -0.528716
2000-01-06  0.955810  0.398502  0.910224  0.175519
2000-01-07 -0.896040 -0.747815  1.616036 -0.506500
2000-01-10  1.218119 -0.224269 -2.603137  0.247714
2000-01-11  0.970082 -2.018272 -1.618888 -0.387958
2000-01-12 -0.647075 -0.914045 -0.680360 -1.331787
2000-01-13 -0.521035  0.062276  0.145608 -0.033844
2000-01-14  0.410481  0.290034 -1.601608 -1.813699
2000-01-17 -2.374040  1.829330  1.463270 -0.564168
2000-01-18 -1.106118 -0.225558 -0.900942  0.067639
2000-01-19 -0.185036 -0.104489  0.579498  1.261758
2000-01-20 -0.458155 -0.239530 -0.020571  1.192122
2000-01-21 -0.329744 -2.035513  0.345633 -0.676817
2000-01-24 -1.521980  0.575212  0.135638 -0.777567
2000-01-25  0.265443 -0.780428 -1.012340 -0.450093
2000-01-26 -1.794240 -0.059837 -0.365705  0.305236
2000-01-27 -0.937178 -2.367950  1.174819  0.251531
2000-01-28  1.835711 -0.093118 -0.764682  0.290781
2000-01-31 -0.048848  0.296304  0.205216 -0.266870
2000-02-01 -0.966324  0.006511  0.130743 -1.064071
2000-02-02 -1.143462 -0.048647 -1.618005 -1.608116
2000-02-03  0.555210  2.350941 -0.606653 -0.071277
2000-02-04  0.618074  0.164904 -0.491811  1.851644
2000-02-07  0.197969  2.389396  2.842989  0.173832
2000-02-08  2.035439  0.715255 -0.844306  0.226544
2000-02-09  0.094268 -0.627969 -1.756635 -1.191903
2000-02-10  1.188568 -0.965861  0.132967 -0.087059
2000-02-11 -1.158914  0.101378 -0.186560  1.105305

In [ ]:
# Now let's pivot the data

# First two value spassed are teh row and column indexes, then finally an optional fill value
dframe_piv = dframe.pivot('date','variable','value')

#Show
dframe_piv